<div class="row">
  <label class="col-sm-3 col-form-label" for="files">Documents</label>
  <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />

  <!-- <div class="col-sm-9">
    <span class="hidden-file">
      <input type="file" #fileInput ng2FileSelect [uploader]="uploader" multiple (onFileSelected)="onFileSelected($event)" />
    </span> -->
     <!-- <div class="btn-group" (click)="fileInput.click()">
      <button type="button" class="btn btn-primary btn-group-icon btn-group-divider">
           <i class="ion-plus-round"></i>
      </button>
      <button type="button" class="btn btn-primary">
         Add Documents
      </button>
    </div>  -->
  </div>
</div>